<app-menu></app-menu>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center">Cambiar Contraseña</ion-card-title>
    </ion-card-header>
  
    <ion-card-content *ngIf="load">
      <form [formGroup]="formulario"  (ngSubmit)="actualizarPerfil()">
        <div class="row">
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nombres:</span>
              <input type="text" formControlName="name" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Apellidos:</span>
              <input type="text" formControlName="apellidos" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Telefono:</span>
              <input type="text" formControlName="telefono" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Correo:</span>
              <input type="text" formControlName="email" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Documento:</span>
              <input type="text" formControlName="numero_identificacion" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Rol:</span>
              <input type="text" formControlName="rol" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-6">
            <ion-button [routerLink]="['/user/perfil']">
              Cancelar
            </ion-button>
          </div>
          <div class="col-6">
            <ion-button type="submit">
              Guardar
            </ion-button>
          </div>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>