<app-menu></app-menu>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center">
        Ingrese Código Visitante
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
        <form action="">
          <div class="row">
          <div class="col-3">
            <ion-input type="number" placeholder="0..9" ></ion-input>
          </div>
          <div class="col-3 ">
            <ion-input type="number" placeholder="0..9" ></ion-input>
          </div>
          <div class="col-3 ">
            <ion-input type="number" placeholder="0..9" ></ion-input>
          </div>
          <div class="col-3 ">
            <ion-input type="number" placeholder="0..9" ></ion-input>
          </div>
          <div class="col-12 text-center">
            <ion-button>
              Verificar
            </ion-button>
          </div>
        </div>
        </form>
      
    </ion-card-content>
  </ion-card>
</ion-content>
