<app-menu></app-menu>

<ion-content *ngIf="load">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center">Perfil</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      <div class="row">
        <div class="col-6">Nombres: {{usuario.name}} </div>
        <div class="col-6">Apellidos: {{usuario.apellidos}} </div>
        <div class="col-6">Telefono: {{usuario.telefono}} </div>
        <div class="col-6">Correo: {{usuario.email}} </div>
        <div class="col-6">Documento: {{usuario.numero_identificacion}} </div>
        <div class="col-6">Rol: {{usuario.rol}} </div>
        <div class="col-6">
          <ion-button [routerLink]="['/user/changepass']">
            Cambiar Contraseña
          </ion-button>
        </div>
        <div class="col-6">
          <ion-button [routerLink]="['/user/update-perfil']">
            Editar
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

