<app-menu></app-menu>
<ion-content>
  <div class="row mt-3">
    <div class="col-12">
      <div class="row">
        <div class="col-12 ms-2">
          <ion-button [routerLink]="['/user/create-cita']" [replaceUrl]="true" >
            Crear Cita
          </ion-button>
        </div>
      </div>
    </div>
    <div class="col-5">
      <ion-datetime 
        (ionChange)="cambioFecha($event)"
      ></ion-datetime>
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col-12" *ngFor="let cita of dayCitas">
          <ion-card>
            <ion-card-content>
              <p>Nombre: </p>
              <p>Hora: {{cita.hora}} </p>
              <p>Codigo: {{cita.codigo_cita}}</p>
              <ion-button [routerLink]="['../update-cita/'+cita.codigo_cita]" [replaceUrl]="true" >
                Ver mas
              </ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
      
    </div>
  </div>  
</ion-content>