<app-menu></app-menu>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Modernatec visitante
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-12">
              Nombres:
            </div>
            <div class="col-12">
              Apellidos:
            </div>
            <div class="col-12">
              Número identificación:
            </div>
            <div class="col-12">
              Telefono:
            </div>
            <div class="col-12">
              Correo:
            </div>
            <div class="col-12">
              Area:
            </div>
            <div class="col-12">
              Nombre solicitante:
            </div>
            <div class="col-12">
              Correo del solicitante
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-12">
              Codigo:
            </div>
            <div class="col-12">
              <ion-img alt="imagen del usuario"></ion-img>
            </div>
          </div>
        </div>
        <div class="col-6">
          <ion-button>
            Denegar
          </ion-button>
        </div>
        <div class="col-6">
          <ion-button>
            Confirmar
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>