<app-menu></app-menu>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center">
        Cargar base de datos
      </ion-card-title>
      <ion-card-subtitle>
        Por favor cargue el archivo csv con los parametros establecidos
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form>
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label for="formFile" class="form-label">Base de datos</label>
              <input class="form-control" (change)="cambiarArchivo($event.target.files[0])" type="file" id="formFile">
            </div>
          </div>
          <div class="col-3"></div>
          <div class="col-6">
            <ion-button expand="block"
            (click)="subirdb()"
             [disabled]="!archivo" shape="round" type="submit" color="success">Enviar</ion-button>
          </div>
          <div class="col-3"></div>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
  <table class="table" *ngIf="load">
    <thead>
      <h3 class="text-center"> Usuarios no creados por tener errores </h3>
      <tr>
        <th scope="col">Identificación</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let error of errores">
        <td> {{error.numero_identificacion}} </td>
        <td> {{error.name}} </td>
        <td> {{ error.apellidos }} </td>
        <td> {{error.email}} </td>
        <td> {{error.telefono}} </td>
      </tr>
    </tbody>
  </table>
</ion-content>
