<ion-toolbar>

  <ion-item id="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title size="large" color="light">Modernatec</ion-title>
    <ion-label slot="end" class="d-none d-sm-block" color="light">nombre</ion-label>
    <ion-avatar slot="end">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>

  </ion-item>
</ion-toolbar>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center">Cambiar Contraseña</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Contraseña anterior</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Contraseña nueva</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Confirmar contraseña</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" >
      </div>
      <div class="row">
        <div class="col-6">
          <ion-button [routerLink]="['/user/perfil']">
            Cancelar
          </ion-button>
        </div>
        <div class="col-6">
          <ion-button>
            Cambiar Contraseña
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>