<app-menu></app-menu>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center">Cambiar Contraseña</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form [formGroup]="formulario" (ngSubmit)="cambiarPass()">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Contraseña anterior</label>
          <input type="password" class="form-control"  >
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Contraseña nueva</label>
          <input type="password" class="form-control"  >
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Confirmar contraseña</label>
          <input type="password" class="form-control" >
        </div>
        <div class="row">
          <div class="col-6">
            <ion-button [routerLink]="['/user/perfil']" [replaceUrl]="true" >
              Cancelar
            </ion-button>
          </div>
          <div class="col-6">
            <ion-button>
              Cambiar Contraseña
            </ion-button>
          </div>
        </div>
      </form>
     
    </ion-card-content>
  </ion-card>
</ion-content>